<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
  <connectionStrings>
    <add name="OracleConnection" connectionString="User Id=pacs;Password=www;Data Source=tosdev"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="AuthenticationTicket.Timeout" value="600" />
    <add key="Secrect" value="secrect" />
    <add key="MSMQSERVERIP" value="192.168.78.156" />
    <add key="MSMQNAME" value="tos_queue_realtime_v4.0" />
    <add key="IsMqZip" value="true" />
    <add key="LPORT" value="CCT" />
    <add key="DEFAULTWORKPOINT" value="进提箱" />
    <add key="IsCollectRealtimeSet" value="true" />
    <add key="CACHETIMES" value="10" />
    <add key="MqStartZipSize" value="2000000" />
    <add key="NO_WRITERLOG_BY_METHOD" value="VM002010,YM001007,CM999001,YM002011,CM002001,VM002001,OP008001,OP008010,OP001001,PM001001,OP003007,OP004022,OP003001,OP011001,TP001003,TP004001,TP005001,TP005002" />
    <add key="IsUseMuti" value="true" />
    <add key="UseMutiNum" value="10000" />
    <add key="ISUSECACHE" value="TRUE" />
    <add key="AUTOSTOWPATH" value="D:\CTOSV4\LOG\AUTOSTOW\" />
    <add key="IsWriterSystemDebugLog" value="true" />
    <add key="ENVTEXT" value="CMICT(UT)" />
    <add key="ENVTEXTCOLOR" value="RGB(255,255,255)" />
    <add key="ENVBKCOLOR" value="RGB(255,0,0)" />
    <add key="CommandTimeout" value="120" />
    <add key="DISWEBSERVICE" value="http://192.168.78.156:9999/CM.CTOS.InternalWebService/WSTosPacs.asmx" />
  </appSettings>
</configuration>